      <!--Grid column-->

      <!--Grid column-->
      <div class="col-xl-3 col-md-3 mb-r">
        <!--Card-->
        <mdb-card style="width:193px"cascade="true" class="cascading-admin-card">

            <!--Card Data-->
            <div class="admin-up">
                <mdb-icon fas icon="" [className]="class"></mdb-icon>
                <div class="data">
                    <h4><strong>{{step}}</strong></h4>
                </div>
            </div>
            <!--/.Card Data-->

            <!--Card content-->
            <mdb-card-body>

                <!--Text-->
                <p class="card-text" style="text-align: center;">{{context}}</p>
            </mdb-card-body>
            <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
